<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tasks On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
  <% if current_page?(root_path) %>
    <%= render 'layouts/search_header'%>
  <% else %>
    <%= render 'layouts/header'%>
  <% end %>
  <main role="main" class="container">
    <%= yield %>
  </main>
  </body>
</html>
